In [6]:
import mysql.connector

connection = mysql.connector.connect(
    host="mysql-rfam-public.ebi.ac.uk",
    port=4497,
    user="rfamro",
    database="Rfam"
)

In [8]:
cursor = connection.cursor()

In [11]:
cursor.execute("SELECT ncbi_id, species FROM taxonomy WHERE species LIKE '%Panthera tigris%';")
rows = cursor.fetchall()
for row in rows:
  print(row)

(9694, 'Panthera tigris (tiger)')
(74533, 'Panthera tigris altaica (Amur tiger)')
(253258, 'Panthera tigris amoyensis (Amoy tiger)')
(74534, 'Panthera tigris corbetti (Indochinese tiger)')
(419130, 'Panthera tigris jacksoni (Malayan tiger)')
(644771, 'Panthera tigris sondaica (Javan tiger)')
(9695, 'Panthera tigris sumatrae (Sumatran tiger)')
(74535, 'Panthera tigris tigris (Bengal tiger)')

In [12]:
cursor.execute("SELECT ncbi_id,species FROM taxonomy WHERE species LIKE '%Sumatran tiger%';")
rows = cursor.fetchall()
for row in rows:
  print(row)

(9695, 'Panthera tigris sumatrae (Sumatran tiger)')

b. Find all the columns that can be used to connect the tables in the given database.


1.ncbi_id
2.clan_acc
3.rfam_acc
4.rfamseq_acc

In [14]:
cursor = connection.cursor()
cursor.execute("SELECT t.species, MAX(r.length) FROM taxonomy t INNER JOIN rfamseq r ON t.ncbi_id = r.ncbi_id WHERE t.species LIKE 'Oryza sativa%' GROUP BY t.species; ")
rows = cursor.fetchall()
for row in rows:
    print(row)

('Oryza sativa (rice)', 339972)
('Oryza sativa endornavirus (isolate Japan)', 13952)
('Oryza sativa Indica Group', 47244934)
('Oryza sativa Japonica Group', 43270923)

In [15]:
cursor = connection.cursor()
cursor.execute("SELECT t.species,r.accession, MAX(r.length) AS max_length FROM taxonomy t INNER JOIN rfamseq r ON t.ncbi_id = r.ncbi_id WHERE r.length > 1000000 GROUP BY t.species ORDER BY max_length DESC LIMIT 15 OFFSET 120")
rows = cursor.fetchall()
for row in rows:
    print(row)

('Anopheles gambiae str. PEST', 'AAAB01008807', 23099915)
('Anopheles dirus', 'KB672490', 22947322)
('Hymenolepis microstoma', 'LN906329', 22338478)
('Eutrema salsugineum', 'KI517384', 21755756)
("Propithecus coquereli (Coquerel's sifaka)", 'KQ022624', 21700459)
('Caenorhabditis briggsae', 'FR847112', 21540570)
('Drosophila sechellia', 'CH480815', 21120651)
('Caenorhabditis elegans', 'BX284601', 20924180)
('Sorex araneus (European shrew)', 'JH798183', 20915803)
('Anopheles atroparvus', 'KI421882', 20238125)
('Echinococcus multilocularis', 'LN902841', 20116479)
('Spermophilus parryii (Arctic ground squirrel)', 'QVIC01000005', 20065445)
('Capsella rubella', 'KB870805', 19566579)
('Mustela putorius furo (domestic ferret)', 'GL896918', 17988942)
('Erinaceus europaeus (western European hedgehog)', 'JH835289', 17429815)